@{
    ViewBag.Title = "Упс, 404. - minus.lviv.ua";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>
    Такого файлу не знайдено.</h4>
<p>
    Та можна повернутися <a href="/">на головну</a>, або спробувати <a href="/minus/search/">
        пошук</a>.
</p>
